/home/dafetite/alx/trunkbay/trunkbay_project/trunkbay_project/__pycache__
/home/dafetite/alx/trunkbay/trunkbay_venv
/home/dafetite/alx/trunkbay/trunkbay_project/trunkbay_app/migrations/__pycache__
/home/dafetite/alx/trunkbay/trunkbay_project/trunkbay_app/__pycache__
