{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TrunkBay</title>
	<link href="../static/css/bootstrap.css" type="text/css" rel="stylesheet">
	<link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'trunkbay_logos/blue_favicon_color.png' %}"
    />
</head>
<body>
	<div class="container">
		
	</div>
	<h1>TrunkBay home from project level</h1>
	<h2>sub text</h2>
	<img class="img-fluid" src="../static/trunkbay_images/black_transparent.png">
	<!-- <img src="{% static 'trunkbay_images/black_transparent.png' %}" width="250" height="100"> -->
	<label><br>black transparent</label>
	<br><br>
	<img class="img-fluid" src="../static/trunkbay_images/white_transparent.png">
	<!-- <img src="{% static 'trunkbay_images/white_transparent.png' %}" width="250" height="100"> -->
	<label><br>white transparent</label>
	<br><br>
	<img class="img-fluid" src="../static/trunkbay_images/whit_logo.png">
	<!-- <img src="{% static 'trunkbay_images/whit_logo.png' %}" width="320" height="280"> -->
	<label><br>white logo</label>
	<br><br>
</body>
</html>
